[Desktop Entry]
Type=Application
Name=FFarm Master
Comment=Start the FFarm master GUI
Exec=/usr/bin/gnome-terminal -- bash -lc "cd '/home/kim/Projects/ffmpeg_farm' && ./scripts/run_master_ubuntu.sh; echo; read -p 'Press Enter to close...'"
Icon=applications-multimedia
Terminal=false
Categories=AudioVideo;Utility;
